.ChatsMessageDiv{
    position:absolute;
    display:flex;
    justify-content:space-around;
    bottom:20px;
    left:10%;
    right:10%;
}
.ChatsInput{
    width:60%;
}
.ChatsButton{
    width:30%;

}